.item-add-form {
    margin-top: 10px;
}

.item-add-form input {
    margin-right: 3px;
}

.item-add-form button {
    width: 130px;
}

@media (max-width: 400px) {
    .item-add-form {
        flex-direction: column;
        align-items: flex-end;
    }
    .item-add-form button {
        margin-top: 10px;
    }
}